@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
  background-color:  #85929e;
}

.phone{
  background-color: #f8dc95;
  margin: auto;
  width: 425.4px;
  height: 861.6px;
}

h1{
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 48px;
}

#easy{
  color: #cc0000;
}

#wear{
  color: #1155cc;
}